Flask
grpcio
gunicorn
Keras-Applications
Keras-Preprocessing==1.1.2
Markdown==3.3.4
MarkupSafe==2.0.1
numpy
Pillow
protobuf
six==1.15.0
tensorboard==2.5.0
tensorflow==2.5.0
tensorflow-estimator
termcolor==1.1.0
urllib3
Werkzeug
wrapt==1.12.1
