absl-py==0.12.0
astunparse==1.6.3
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
click
colorama==0.4.4
Flask==1.1.2
funcsigs 
gast==0.4.0
google-pasta==0.2.0
grpcio
gunicorn==20.1.0
h5py==3.1.0
itsdangerous==2.0.1
Jinja2
Keras-Applications
Keras-Preprocessing==1.1.2
Markdown==3.3.4
MarkupSafe==2.0.1
numpy
Pillow
protobuf
six==1.15.0
tensorboard==2.5.0
tensorflow==2.5.0
tensorflow-estimator
termcolor==1.1.0
urllib3
Werkzeug
wrapt==1.12.1
